@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
   body {
    @apply font-[Raleway]; 
   } 
   li {
       @apply px-4;
       @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.content-div button:hover {
    transform: scale(1.05);
    background-color: #975ad0;
    transition: all .5s;
    color: white;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(73, 20, 122, 0.5),
        hsla(0, 73%, 6%, 0.7)
    )!important;
}

@media screen and (max-width: 700px) {
    #image img {
        height: 350px;
        width: 260px;
        margin: 50px auto;
    }
}